In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#upload and clean the data

data = pd.read_csv('Test.csv', low_memory = False)

In [6]:
#renaming columns so easier to understand
data.rename(columns={
    'fecha_dato': 'date',
    'ncodpers': 'customer code',
    'ind_empleado': 'employee index',
    'pais_residencia': 'country',
    'sexo': 'sex',
    'fecha_alta': 'contract date',
    'ind_nuevo': 'customer index',
    'antiguedad': 'customer seniority',
}, inplace=True)

In [7]:
valid_values = range(0,120)   #age range, set limit to 120 as likely no one older than that

median_value = data['age'].median()     #using median as less sensitive to outliers than mean

for i, value in enumerate(data['age']):
    if value not in valid_values:
        data.at[i, 'indfall'] = 'N'   #mistakenly put as not deceased
        data.at[i, 'age'] = median_value  #for unknown
        
median_value = data['customer index'].median() 
standard_deviation = np.std(data['customer index'])

valid_values = range(int(median_value -3*standard_deviation), int(median_value + 3*standard_deviation) )

for i, value in enumerate(data['customer index']):
    if value not in valid_values:
        data.at[i, 'customer index'] = median_value  #for unknown

KeyboardInterrupt:

In [11]:
#checking for values that aren't supposed to be there, replace with P, passive

valid_values = ['N', 'F', 'P', 'B', 'A']
for i, value in enumerate(data['employee index']):
    if value not in valid_values:
        data.at[i, 'employee index'] = 'U'   #for unknown
        
valid_values = [1, 2, 3, 4, 'P']
for i, value in enumerate(data['indrel_1mes']):
    if value not in valid_values:
        data.at[i, 'indrel_1mes'] = 'U'   #for unknown
        
valid_values = ['S', 'N']
for i, value in enumerate(data['indresi']):
    if value not in valid_values:
        print(value)   #no missing data
        
valid_values = ['S', 'N']
for i, value in enumerate(data['indext']):
    if value not in valid_values:
        print(value)   #no missing data

valid_values = [1, 0]   #for spouse employee
for i, value in enumerate(data['conyuemp']):
    if value not in valid_values:
        data.at[i, 'conyuemp'] = 'U'  #to indicate unknown
        
valid_values = ['V', 'H']
for i, value in enumerate(data['sex']):
    if value not in valid_values:
        data.at[i, 'sex'] = 'U'  #to indicate unknown

In [ ]:
#now start the EDA

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929615 entries, 0 to 929614
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   date                   929615 non-null  object
 1   customer code          929615 non-null  int64
 2   employee index         929615 non-null  object
 3   country                929615 non-null  object
 4   sex                    929610 non-null  object
 5   age                    929615 non-null  int64
 6   contract date          929615 non-null  object
 7   customer index         929615 non-null  int64
 8   customer seniority     929615 non-null  int64
 9   indrel                 929615 non-null  int64
 10  ult_fec_cli_1t         1683 non-null    object
 11  indrel_1mes            929592 non-null  float64
 12  tiprel_1mes            929592 non-null  object
 13  indresi                929615 non-null  object
 14  indext                 929615 non-null  object
 15  conyuemp               104 non-null     object
 16  canal_entrada          927534 non-null  object
 17  indfall                929615 non-null  object
 18  tipodom                929615 non-null  int64
 19  cod_prov               925619 non-null  float64
 20  nomprov                925619 non-null  object
 21  ind_actividad_cliente  929615 non-null  int64
 22  renta                  929615 non-null  object
 23  segmento               927367 non-null  object
dtypes: float64(2), int64(7), object(15)
memory usage: 170.2+ MB

* ind_hip_fin_ult1	<br>
Mortgage <br>
* ind_plan_fin_ult1 <br>	
Pensions <br>
* ind_pres_fin_ult1	<br>
Loans
* ind_reca_fin_ult1	<br>
Taxes
* ind_tjcr_fin_ult1	<br>
Credit Card
* ind_valo_fin_ult1	<br>
Securities
* ind_viv_fin_ult1	<br>
Home Account
* ind_nomina_ult1	<br>
Payroll
* ind_nom_pens_ult1	<br>
Pensions
* ind_recibo_ult1	<br>
Direct Debit

In [ ]:
#looking at link between age and if there is a credit card

color = ['Deeppink', 'Yellow']
age_plot = sns.catplot(data=customers_cab_data, x="Age Groups", kind = 'count', hue="Company",col = "Year", palette = color)
age_plot.set(ylabel='Number of Customers')
#sns.palplot(sns.color_palette("deep", 10))
plt.show()

In [17]:
data['Age Groups'] = pd.cut(data['age'], bins=[18, 32, 49, 65], labels=['18-32', '33-49', '50-65'])
grouped_data['Company'] = grouped_data.index

In [18]:
data

,date,customer code,employee index,country,sex,age,contract date,customer index,customer seniority,indrel,...,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,Age Groups
0,2016-06-28,15889,F,ES,V,56,1995-01-16,0,256,1,...,U,KAT,N,1,28.0,MADRID,1,326124.90,01 - TOP,50-65
1,2016-06-28,1170544,N,ES,H,36,2013-08-28,0,34,1,...,U,KAT,N,1,3.0,ALICANTE,0,NA,02 - PARTICULARES,33-49
2,2016-06-28,1170545,N,ES,V,22,2013-08-28,0,34,1,...,U,KHE,N,1,15.0,"CORUÑA, A",1,NA,03 - UNIVERSITARIO,18-32
3,2016-06-28,1170547,N,ES,H,22,2013-08-28,0,34,1,...,U,KHE,N,1,8.0,BARCELONA,0,148402.98,03 - UNIVERSITARIO,18-32
4,2016-06-28,1170548,N,ES,H,22,2013-08-28,0,34,1,...,U,KHE,N,1,7.0,"BALEARS, ILLES",0,106885.80,03 - UNIVERSITARIO,18-32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929610,2016-06-28,660237,N,ES,V,55,1999-04-21,0,206,1,...,U,KAT,N,1,28.0,MADRID,1,128643.57,01 - TOP,50-65
929611,2016-06-28,660238,N,ES,V,30,2006-11-29,0,115,1,...,U,KFC,N,1,26.0,"RIOJA, LA",0,NA,02 - PARTICULARES,18-32
929612,2016-06-28,660240,N,ES,V,52,2006-11-29,0,115,1,...,U,KBZ,N,1,33.0,ASTURIAS,1,72765.27,02 - PARTICULARES,50-65
929613,2016-06-28,660243,N,ES,V,32,2006-11-29,0,115,1,...,U,KFC,N,1,33.0,ASTURIAS,0,147488.88,02 - PARTICULARES,18-32
929614,2016-06-28,660248,N,ES,V,92,2006-11-29,0,115,1,...,U,KAT,N,1,45.0,TOLEDO,0,NA,02 - PARTICULARES,NaN